/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#header {
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

#button {
    display: flex;
    padding: 1em;
    border: solid 2px;
    border-radius: 2em;
    background-color: cornsilk;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

#button:hover {
    opacity: .7;
}

.page1 {
    height: 100vh;
    width: 100vw;

    background-color: darkorange;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.page2 {

    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.page3 {

    background-color: cornflowerblue;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}